.container {
  border-radius: theme(border_radius);
  user-select: none;
  transition: all theme(anim_time);
  text-transform: uppercase;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.1rem;
  outline: none;
}
