.auth {
  display: grid;
  place-items: center;
  text-align: center;

  > div:nth-child(2) {
    display: inline-block;
    margin-top: -9vh;

    @include media(map-get($mq-exp, phone)...) {
      width: 100%;
      max-width: 540px;
    }
  }
}

.empty {
  height: 100vh;
  overflow-x: hidden;
  position: relative;
  padding: 0 1.5rem;
  transition: all theme(anim_time);
}
