.container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  font-size: theme(font_medium);
  user-select: none;
  padding-left: 22px;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 0 2px;
    transition: theme(anim_time);

    &:after {
      color: transparent;
      content: "";
      position: absolute;
      display: block;
      left: 6px;
      top: 2px;
      width: 2.5px;
      height: 6px;
      box-shadow: 1px 1px 0 1px;
      transform: rotate(45deg);
      transition: theme(anim_time);
    }
  }

  input:checked ~ span,
  input:checked ~ span:after {
    color: theme(primary_color) !important;
  }
}
